.userAccountContainer .singout {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #7951a2;
    border: none;
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.userAccountContainer:has(.welcomeForm) {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.welcomeForm {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #00000030;
    align-items: center;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    padding-bottom: 20px;
}

.welcomeForm form{
    display: flex;
    flex-direction: column;
}

.welcomFormRadio {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
    width: 90%;
    max-width: 300px;
    color: white;
    background-color: #7250bdc7;
    padding: 20px;
    border-radius: 20px;
}

.welcomeForm input[type="number"] {
    background-color: #7250bdc7;
    padding: 13px 20px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 20px;
    width: 90%;
    outline: none;
    max-width: 300px;
    letter-spacing: 1px;
}

.userAccountContainer input[type="submit"], .userAccountContainer input[type="button"] {
    color: #d1b9ff;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.welcomeForm input[type="number"]::placeholder{
    color: white;
}

.userAccountContainer .title {
    margin-bottom: 20px;
}

.welcomeForm label {
    display: flex;
    column-gap: 10px;
}

.welcomeForm p {
    font-size: 20px;
    color: white;
}

.userAccountContainer:has(.userAccountDataContainer) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.userAccountDataContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    row-gap: 20px;
}

.info-bar {
    font-size: 4vmin;
    display: flex;
    background-color: #7250bdc7;
    border-radius: 20px;
    width: 90%;
    align-items: center;
    color: white;
    justify-content: center;
    padding: 20px;
    column-gap: 50px;
    row-gap: 10px;
}

.statusContainer {
    display: flex;
    column-gap: 20px;
    background-color: #7d62b8;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
}

.statusContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statusContainer div p {
    text-align: center;
}

.statusBarContainer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statusBar {
    width: 100px;
    height: 10px;
    background-color: #b399eb;
    position: relative;
    overflow: hidden;
}

.statusBar span{
    height: 100%;
    background-color: white;
    position: absolute;
}

.foodTodayContainer {
    width: 70%;
    border-radius: 20px;
    padding: 20px;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: white;
    overflow: overlay;
}

.foodTodayContainer .list-part {
    display: flex;
    background-color: #7250bdc7;
    border-radius: 30px;
    column-gap: 50px;
    position: relative;
    padding: 20px 50px;
    align-items: center;
}

.list-part div {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.list-part div::before {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    rotate: 45deg;
    background-color: white;
    border-radius: 10px
}

.list-part div::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    rotate: -45deg;
    background-color: white;
    border-radius: 10px;
}

.foodTodayContainer p {
    font-size: 20px;
    border-radius: 20px;
}

p.calories {
    background-color: #7c66ad;
    position: absolute;
    right: 50px;
    padding: 5px 20px;
}

.addMeal input[type="text"], .addMeal input[type="number"] 
 {
    max-width: 200px;
    height: 40px;
    border-radius: 20px;
    width: 90%;
    background-color: #ba9efb;
    outline: none;
    border: none;
    color: white;
    padding-left: 10px;
    font-size: 20px;
}

.addMeal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000073;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addMeal form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 95%;
    max-width: 400px;
    padding: 20px;
    background-color: #5f459a;
    border-radius: 20px;
    align-items: center;
}

.addMeal h2 {
    color: white;
    margin-bottom: 20px;
}

.addMeal form div {
    display: flex;
    column-gap: 20px;
}

.green {
    color: #7fff7f;
}

.yellow {
    color: #f7f74c;
}

.red {
    color: #fa7c7c;
}

span.yellow {
    background-color: #f7f74c;
}

span.green{
    background-color: #7fff7f;
}

span.red {
    background-color: #fa7c7c;
}

.userAccountDataContainer button {
    font-size: 20px;
    border: none;
    background-color: #000000bd;
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

@media (max-width: 280px) {

.foodTodayContainer .list-part {
    padding: 10px;
}

p.calories {
    padding: 0px 5px;
}

}

@media (max-width: 700px) {

.info-bar {
    flex-direction: column;
}

.statusContainer {
    flex-direction: column;
    align-items: center;
    width: 70%;
    font-size: 20px;
}

.foodTodayContainer {
    width: 95%;
    border-radius: 20px;
    padding: 20px;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: white;
    overflow: overlay;
}

.foodTodayContainer .list-part {
    display: flex;
    background-color: #7250bdc7;
    border-radius: 30px;
    column-gap: 50px;
    position: relative;
    padding: 10px 20px;
    align-items: center;
}

}

